.footer {
  margin-top: 10rem;
  width: 100%;
  @extend %df;
  @extend %dc;
  height: 40rem;
  background-color: $accent-color;

  @include respond(mobile-big) {
    height: 55rem;
  }

  @media only screen and (max-width: 33.75em) {
    height: 82rem;
  }

  @include respond(mobile) {
    height: 85rem;
  }

  @include respond(mobile-small) {
    // height: 80rem;
  }

  &__title {
    @media only screen and (max-width: 33.75em) {
      text-align: center;
    }

    @include respond(mobile) {
      width: 95%;
      text-align: center;
    }

    h3 {
      font: $prozaLibre-regular;
      font-size: 2rem;
      text-transform: capitalize;
      color: $color-white;
    }
  }

  &__grid {
    width: 80%;
    margin: 0 auto;
    flex: 0 0 85%;
    @extend %dg;
    @extend %col-1-of-2;

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(mobile-big) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
    }

    @media only screen and (max-width: 33.75em) {
      width: 100%;
    }

    @include respond(mobile) {
      grid-template-rows: 45% 55%;
    }
  }

  &__container {
    grid-area: 1 / 2 / -1 / -1;
    @extend %df;
    @extend %dc;

    @include respond(mobile-big) {
      grid-area: 2 / 1 / 3 / -1;
    }
  }

  &__form {
    grid-area: 1 / 1 / 2 / 2;
    @extend %dg;
    grid-template-rows: 20% 80%;

    @include respond(mobile-big) {
      grid-area: 1 / 1 / 2 / -1;
      height: 100%;
    }

    @media only screen and (max-width: 33.75em) {
      grid-template-rows: 15% 85%;
    }

    @include respond(mobile) {
      grid-template-rows: 15% 85%;
    }

    &--container {
      @include respond(mobile-big) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      @media only screen and (max-width: 33.75em) {
        grid-template-rows: 20% 65% 15%;
        grid-template-columns: repeat(1, 1fr);
      }

      @include respond(mobile) {
        grid-template-rows: 20% 65% 15%;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--group {
      @include respond(mobile-big) {
        display: inline-block;
      }

      @media only screen and (max-width: 33.75em) {
        margin: 0 auto;
      }

      @include respond(mobile) {
        grid-area: auto;
        margin: 0 auto;
        width: fit-content;
      }

      &:nth-child(2) {
        @include respond(mobile-big) {
          grid-area: 1 / 2 / -1 / -1;
        }

        @media only screen and (max-width: 33.75em) {
          grid-area: auto;
        }

        @include respond(mobile) {
          grid-area: auto;
        }
      }

      &:last-child {
        @include respond(mobile-big) {
          @include flexcenter;
        }
      }

      input {
        border: 0;
        background-color: rgba($color-white, 0.8);
        font: $nunito-regular;
        font-size: 1.7rem;
        padding: 1rem;
        width: 35rem;
        color: $color-grey;
        margin-bottom: 0.5rem;
      }

      textarea {
        font: $nunito-regular;
        font-size: 1.7rem;
        color: $color-grey;
        width: 35rem;
        height: 12rem;
        padding: 1rem;
        border: 0;
        background-color: rgba($color-white, 0.8);

        @include respond(mobile-big) {
          height: 90%;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  &__contact {
    flex: 0 0 60%;
    @extend %dg;
    @extend %col-1-of-2;

    @include respond(mobile) {
      flex: 0 0 85%;
    }

    @media only screen and (max-width: 23.4375em) {
      grid-template-columns: auto;
      grid-template-rows: repeat(2, 1fr);
    }

    &--call {
      @extend %df;
      @extend %dc;
      @extend %dai;

      @include respond(mobile) {
        height: 50%;
        margin: auto;
      }

      a,
      span {
        font: $nunito-light;
        font-size: 1.4rem;
        color: rgba($color-white, 0.5);
        padding: 1rem;
      }
    }

    &--address {
      @extend %df;
      @extend %dc;
      @extend %dai;

      @include respond(mobile) {
        margin: auto;
        height: 60%;
      }

      a,
      span {
        font: $nunito-light;
        font-size: 1.4rem;
        color: rgba($color-white, 0.5);
        padding: 1rem;
      }
    }
  }

  &__social {
    flex: 1;

    ul {
      @include flexeven;
      flex-wrap: wrap;

      @include respond(mobile-big) {
        width: 90%;
        margin: 0 auto;
      }

      @include respond(mobile) {
        width: 100%;
      }

      li {
        a {
          border: 1px solid rgba($color-white, 0.5);
          transition: $transition-faster;

          ion-icon {
            transition: $transition-faster;
          }

          &:hover {
            background-color: currentColor;
            border: 1px solid transparent;

            ion-icon {
              color: $color-white !important;
            }
          }
        }

        a[type="facebook"] {
          color: $facebook-color;

          ion-icon {
            color: currentColor;
          }
        }

        a[type="whatsapp"] {
          color: $whatsapp-color;

          ion-icon {
            color: currentColor;
          }
        }

        a[type="instagram"] {
          color: $instagram-color;

          ion-icon {
            color: currentColor;
          }
        }

        a[type="twitter"] {
          color: $twitter-color;

          ion-icon {
            color: currentColor;
          }
        }

        a[type="google"] {
          color: $google-color;

          ion-icon {
            color: currentColor;
          }
        }
      }
    }

    &--btn {
      padding: 2rem;
      border-radius: 50%;
      border: 1px solid rgba($color-white, 0.5);
      @include flexcenter;

      @include respond(mobile-big) {
        padding: 1.5rem;
      }

      @include respond(mobile) {
        padding: 1.2rem;
      }
    }
  }

  &__copy {
    background-color: $accent-color;
    flex: 1;
    @extend %dg;
    grid-template-columns: 35% 10% 10% 10% 35%;
    font: $nunito-light;
    font-size: 1.2rem;
    color: $color-white;
    text-align: center;

    @include respond(mobile) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }

    a {
      text-transform: capitalize;
      color: $color-white;
    }
  }
}
