.header {
  grid-area: 1 / 1 / 2 / 2;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  @extend %df;
  align-self: flex-end;

  @include respond(mobile-big) {
    width: 90%;
  }

  @include respond(mobile) {
    width: 95%;
  }

  @include respond(mobile-small) {
    height: 100%;
  }

  &__herobox {
    width: 100%;
    height: 100%;

    &--left {
      flex: 0 0 60%;
      display: grid;
      grid-template-rows: 60% 20% 20%;

      @include respond(mobile-big) {
        flex: 0 0 100%;
      }

      @include respond(mobile) {
        grid-template-rows: 52% 28% 20%;
      }

      @include respond(mobile-small) {
        grid-template-rows: 50% 30% 20%;
      }
    }

    &--right {
      flex: 1;
      position: relative;
      overflow: hidden;

      @include respond(mobile-big) {
        display: none;
      }

      svg {
        position: absolute;
        height: 90%;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }

  &__intro {
    &--main {
      @include flexcenter;

      svg {
        width: 100%;

        @media only screen and (max-height: 41.1em) {
          width: 85%;
        }

        @media only screen and (max-width: 90em) {
          width: 85%;
        }

        @include respond(mobile-big) {
          width: 100%;
          margin: 9% 0 0 10%;
        }
      }
    }

    &--sub {
      font: $nunito-light;
      width: 85%;
      margin: 0 auto;

      @include respond(mobile-big) {
        text-align: center;
        line-height: 3rem;
      }
    }

    &--cta {
      width: 85%;
      margin: 0 auto;

      @include respond(mobile-big) {
        text-align: center;
      }
    }
  }
}

.filled-text {
  text-transform: capitalize;
  font-size: 7.5rem;
  font-weight: 600;

  @include respond(mobile-big) {
    font-size: 9rem;
  }
}

#background .bg-path {
  animation: pulse 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;

  /* Necessary to keep the SVG objects in place while scaling */
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

g {
  transform-origin: center;
  transform-box: fill-box;
}

#phone-body {
  animation: phoneMovement 2s ease-in-out infinite backwards alternate;
}

#outer-circle-nonfill {
  animation: innerCircle 2s ease-in-out infinite backwards alternate;
}

#inner-circle-nonfill {
  animation: innerCircle 2s ease-in-out infinite backwards alternate;
}

#inner-circle-fill {
}

#key {
  transform-box: view-box;
  animation: key 2s ease-in-out infinite backwards alternate;
}
