.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  @include flexcenter;
  background-color: transparent;
  transition: $transition-faster;
  z-index: 100;

  &__brand {
    flex: 0 0 40%;
    height: 100%;
    align-self: stretch;
    @include flexeven;

    &--container {
      width: 50%;
      @include flexeven;
      margin-right: 30%;
      align-self: stretch;
    }

    &--logo {
      width: 10%;
      margin-left: 20%;
    }

    &--title {
      font: $nunito-regular;
      font-size: 2rem;
      color: $accent-color;
      text-transform: uppercase;
    }
  }

  &__links {
    flex: 0 0 50%;

    ul {
      @include flexeven;
    }

    &--item {
      text-transform: capitalize;
      color: $accent-color;
      font: $nunito-light;
      font-size: $small-size;
    }
  }

  &__scrolled {
    box-shadow: 0 1px 20px 10px rgba($color-grey-light, 0.2);
    background-color: $color-white;
  }
}
