.btn {
  text-transform: capitalize;
  font: $nunito-light;
  font-size: $small-size;
  color: $accent-color;
  cursor: pointer;
  display: inline-block;
  transition: $transition-faster;
  @include flexeven;

  &-primary {
    padding: 1rem 3rem;
    border: 1px solid $accent-color;
    background-color: transparent;
    border-radius: 10rem;

    &:hover {
      color: $color-white;
      background-color: $accent-color;
      border: 1px solid transparent;
    }
  }

  &-secondary {
    padding: 2rem 4rem;
    background-color: $primary-color;
    color: $color-white;
    font: $nunito-regular;
    font-size: $default-size;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0px 25px 30px 5px rgba($primary-color, 0.4);
    transition: $transition-fastest;

    &:hover {
      transform: translateY(-3px);
    }

    &:focus {
      transform: translateY(1px);
      box-shadow: 0px 10px 30px 5px rgba($primary-color, 0.5);
    }
  }

  &-cancel {
    background-color: transparent;
    font: $nunito-light;
    font-size: 1.3rem;
    border: none;
    color: $color-grey-light;
  }

  &-checkout {
    padding: 1.5rem 3rem;
    font: $prozaLibre-regular;
    font-size: 1.5rem;
    color: $color-white;
    background-color: lighten($success-color, 10%);
    border: 0;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &-view {
    background-color: $basis-color;
    color: $color-white !important;
    font-size: 1.5rem !important;
    border: 0;
    border-radius: 5px;
    padding: 1rem 2rem;
  }
}
