.form {
  min-width: 100%;
  height: 90%;
  @include flexcenter;
  transition: $transition-faster;

  &__selections {
    flex: 0 0 50%;
    height: 70%;
  }

  &__group {
    width: 60%;
    margin: 0 auto;
    @extend %df;
    @extend %dai;

    span {
      font: $nunito-light;
      font-size: 1.2rem;

      em {
        color: $primary-color;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }

  &__input {
    padding: 1.5rem 3rem;
    border: 1px solid rgba($color-grey-light, 0.5);
    color: $color-grey-dark;
    width: 100%;
    transition: $transition-faster;

    &:focus {
      border-color: lighten($success-color, 20%);
    }

    &--number {
      font: $prozaLibre-regular;
      font-size: 1.5rem;
    }

    &::placeholder {
      color: $color-grey-dark;
    }
  }

  &__select {
    font: $prozaLibre-regular;
    font-size: 1.5rem;

    &--option {
      padding: 1rem;
      // border: 1px solid rgba($color-grey-light, 0.5);
      border: 0;
    }
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
