.form {
  min-width: 100%;
  @include flexcenter;
  transition: $transition-faster;

  &__selections {
    flex: 0 0 50%;
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
