* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;

  @include respond(tab-land) {
    font-size: 60%;
  }

  @include respond(tab) {
    font-size: 50%;
  }
}

html,
body {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  color: $color-grey;
  max-width: 192rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input,
button,
select {
  &:focus {
    outline: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#main {
  position: relative;
}
