//ProzaLibre font inport
@font-face {
  font-family: "ProzaLibre Italic";
  src: url("../font/ProzaLibre-Italic.ttf");
}

@font-face {
  font-family: "ProzaLibre Regular";
  src: url("../font/ProzaLibre-Regular.ttf");
}

@font-face {
  font-family: "ProzaLibre Bold";
  src: url("../font/ProzaLibre-Bold.ttf");
}

@font-face {
  font-family: "ProzaLibre Bold Italic";
  src: url("../font/ProzaLibre-BoldItalic.ttf");
}

@font-face {
  font-family: "ProzaLibre Medium";
  src: url("../font/ProzaLibre-Medium.ttf");
}

@font-face {
  font-family: "ProzaLibre Medium Italic";
  src: url("../font/ProzaLibre-MediumItalic.ttf");
}

@font-face {
  font-family: "ProzaLibre Semi Bold";
  src: url("../font/ProzaLibre-SemiBold.ttf");
}

//Nunito font
@font-face {
  font-family: "Nunito Light";
  src: url("../font/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito Light Italic";
  src: url("../font/Nunito-LightItalic.ttf");
}

@font-face {
  font-family: "Nunito Italic";
  src: url("../font/Nunito-Italic.ttf");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../font/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("../font/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito Bold Italic";
  src: url("../font/Nunito-BoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Semi Bold";
  src: url("../font/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito Extra Light";
  src: url("../font/Nunito-ExtraLight.ttf");
}

.heading {
  &-primary {
    color: $primary-color;
    font: $prozaLibre-bold;
    font-size: $medium-size;
    text-transform: capitalize;
  }
}
