section {
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

//Styles for the top section
.top {
  width: 100%;
  height: 64.5rem;
  @extend %dg;
  grid-template-rows: 90% 10%;
  position: relative;
  padding: 0;
}

//Styles for the features section
.features {
  &__container {
    @extend %dg;
    @extend %col-1-of-3;
    padding: 5rem 0;
  }

  &__title {
    @include flexeven;

    &--no {
      position: relative;
      border: 0;
      border-radius: 50%;
      background-color: $secondary-color;
      width: 3rem;
      height: 3rem;
      z-index: -1;

      span {
        color: $color-white;
        font: $prozaLibre-regular;
        font-size: $default-size;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--value {
      color: $accent-color;
      font: $prozaLibre-regular;
      font-size: $default-size;
      text-transform: capitalize;
    }
  }

  &__text {
    font: $nunito-light;
    font-size: $small-size;
    margin: auto 0;
    line-height: 1.5;
  }
}

//Styles for the services section
.services {
  &__container {
    @extend %df;
    overflow: hidden;
    transition: $transition-faster;
  }

  &__holder {
    min-width: 300%;
    @extend %dg;
    @extend %col-1-of-3;
    transform: translateX(-33.33%);
    transition: $transition-faster;
  }
}

//Styles for the payment section
.payment {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  z-index: 1000;
  visibility: visible;
  background-color: lighten($color-light-black, 5%);
  opacity: 1;

  &__caution {
    width: 100%;
    background-color: lighten($danger-color, 9%);
    color: $color-white;
    font: $nunito-light;
    font-size: 1.5rem;

    ol {
      @extend %df;
      @extend %dc;
      @extend %dai;

      li {
        width: 70%;
        margin: 0 auto;
        padding: 0.5rem 0;
      }
    }
  }
}

//Styles for the header svg background
.svg-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
