section {
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
  height: auto;

  @include respond(tab-land) {
    width: 95%;
  }
}

//Styles for the top section
.top {
  width: 100%;
  height: 64.5rem;
  @extend %dg;
  grid-template-rows: 90% 10%;
  position: relative;
  padding: 0;
}

//Styles for the features section
.features {
  &__container {
    @extend %dg;
    @extend %col-1-of-3;
    padding: 5rem 0;

    & .card:last-child {
      @include respond(tab-port) {
        grid-column: 1 / 3;
      }

      @include respond(mobile-big) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 2rem;
    }

    @include respond(mobile-big) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__title {
    @include flexeven;

    @include respond(tab-port) {
      width: 100%;
    }

    &--no {
      position: relative;
      border: 0;
      border-radius: 50%;
      background-color: $secondary-color;
      width: 3rem;
      height: 3rem;
      z-index: -1;

      span {
        color: $color-white;
        font: $prozaLibre-regular;
        font-size: $default-size;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--value {
      color: $accent-color;
      font: $prozaLibre-regular;
      font-size: $default-size;
      text-transform: capitalize;
    }
  }

  &__text {
    font: $nunito-light;
    font-size: $small-size;
    margin: auto 0;
    line-height: 1.5;
  }
}

//Styles for the services section
.services {
  &__container {
    @extend %df;
    overflow: hidden;
    transition: $transition-faster;
  }

  &__holder {
    min-width: 300%;
    @extend %dg;
    @extend %col-1-of-3;
    transform: translateX(-33.33%);
    transition: $transition-faster;
  }
}

.rules {
  &__container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  ul {
    list-style-type: disc;

    > * {
      display: block;
    }

    li {
      font: $nunito-light;
      font-size: 1.8rem;
      color: $danger-color;
      padding: 0.5rem 0;
    }
  }

  &__header {
    font: $prozaLibre-regular;
    font-size: 1.7rem;
  }

  &__sub {
    font: $nunito-light;
    font-size: 2rem;
    padding: 1rem 0;
  }
}

//Styles for the payment section
.payment {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-height: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(10rem, 0);
  transition: $transition-faster;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
  }

  @media only screen and (max-height: 32.5em) {
    justify-content: stretch;
  }

  @include respond(tab-land) {
    width: 40%;
  }

  @include respond(tab) {
  }

  @include respond(tab-port) {
  }

  @include respond(mobile-big) {
    width: 50%;
  }

  @include respond(mobile) {
    width: 70%;
  }

  @media only screen and (max-width: 26.875em) {
    width: 72%;
  }

  @media only screen and (max-width: 23.4375em) {
    width: 75%;
  }

  @media only screen and (max-width: 21.875em) {
    width: 82%;
  }

  @include respond(mobile-small) {
    width: 90%;
  }

  @media only screen and (max-width: 21.875em) {
    width: 95%;
  }

  & &__container {
    height: 70em;
    max-height: 70em;
    display: flex;
    flex-direction: column;
  }

  &-show {
    padding: 0;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    background-color: $color-white;
    box-shadow: 0 1px 1px lighten($color-grey-light, 20%),
      0 2px 2px lighten($color-grey-light, 20%),
      0 4px 4px lighten($color-grey-light, 20%),
      0 6px 8px lighten($color-grey-light, 20%),
      0 8px 16px lighten($color-grey-light, 20%);
  }

  &-show &__form &__fields {
    animation: slideInLeft 0.5s ease-in 0.2s backwards;
  }

  &-show &__form &__info &__info--container {
    animation: fadein 1s ease-in 0.9s backwards;
  }

  &-show &__form &__cta {
    animation: slideInLeft 0.5s ease-in 1s backwards;
  }

  h3 {
    font: $prozaLibre-regular;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $alternate-color;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  &__form {
    flex: 0 0 85%;
    @extend %dg;
    grid-template-rows: 10% 25% 55% 10%;
    margin-top: 2.5rem;
  }

  &__fields {
    width: 90%;
    margin: 0 auto;
    box-shadow: $box-shadow-soft;
    border-radius: 1rem;
    overflow: hidden;

    &--container {
      position: relative;
      @include flexcenter;
    }

    &--label {
      position: absolute;
      top: 43%;
      left: 13%;
      font: $prozaLibre-regular;
      font-size: 1.2rem;
      transform: translateY(-23px);
      transition: $transition-faster;
    }

    &--input {
      width: 80%;
      padding: 0.5rem 1rem;
      font: $prozaLibre-regular;
      font-size: 1.5rem;
      color: $color-grey;
      margin: 0 auto;
      display: inline-block;
      border: 0;
      border-bottom: 1px solid $alternate-color;
      transition: $transition-faster;

      &:focus {
        border-bottom: 1px solid $alternate-color;
      }

      &:valid {
        border-bottom: 1px solid $success-color;
      }
    }

    &--input:placeholder-shown ~ &--label {
      transform: translateY(0%);
      opacity: 0;
      font-size: 1.5rem;
    }
  }

  &__info {
    @include flexcenter;

    &--container {
      width: 90%;
      box-shadow: $box-shadow-soft;
      margin: 0 auto;
      background-color: $alternate-color;
      height: 95%;
      border-radius: 1rem;
      overflow: hidden;
    }
  }

  &__pricing {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    color: $color-white;
    @extend %df;
    @extend %dc;
    border: 0;
    border-bottom: 1px solid $color-light-black;
    border-style: dashed;

    &--top {
      flex: 0 0 30%;
      @extend %df;
      align-items: flex-end;
      justify-content: flex-start;
    }

    &--bottom {
      @extend %df;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    &--title {
      font: $prozaLibre-regular;
      font-size: 1.4rem;
    }
  }

  &__items {
    width: 100%;
    height: 100%;
    color: $color-light-black;
    font: $nunito-light;
    width: 70%;
    margin: 0 auto;

    &--item {
      @extend %df;
      @extend %dc;
      padding: 0.5rem 0;

      &:first-child,
      &:nth-child(3) {
        & > * {
          text-transform: capitalize;
        }
      }
    }

    &--main {
      text-transform: capitalize;
      font-size: 1.4rem;
      padding: 0.25rem 0;
    }

    &--sub {
      color: $color-white;
      font: $prozaLibre-regular;
      font-size: 1.7rem;
    }
  }

  &__cta {
    width: 85%;
    margin: 0 auto;
    @extend %df;
    @extend %dai;
    justify-content: space-between;
  }

  &-price {
    font: $prozaLibre-bold;

    &-big {
      font-size: 4rem;
    }

    &-small {
      font-size: 1.3rem;
      margin-top: 1.5rem;
    }
  }

  &__caution {
    flex: 1;
    background-color: $danger-color;
    @include flexcenter;

    &--text {
      font: $prozaLibre-regular;
      font-size: 1.5rem;
      color: $danger-color;
    }

    ul {
      width: 80%;
      margin: 0 auto;
      font: $prozaLibre-regular;
      color: $color-light-black;
      font-size: 1.7rem;

      li {
        font: $nunito-light;
        font-size: 1.5rem;
        padding: 0.5rem 0;
      }
    }
  }
}

//Styles for the phones section
.devices {
  &__grid {
    @extend %dg;
    @extend %col-1-of-4;
    @extend %row-1-of-2;
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include respond(mobile-big) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  &__container {
    @include flexcenter;
    @extend %dc;
  }

  &__img {
    height: 100%;
    width: 100%;

    @include respond(mobile-big) {
      width: 90%;
    }

    img {
      width: 90%;

      @include respond(mobile-big) {
        width: 80%;
      }
    }
  }

  &__info {
    h2 {
      font: $nunito-regular;
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
}

//Styles for the network section
.network {
  padding: 0;

  &__container {
    @include flexeven;
    flex-wrap: wrap;

    @include respond(tab) {
      width: 90%;
      margin: 0 auto;
    }

    img {
      width: 20%;

      @include respond(tab-port) {
        width: 12rem;
      }

      @include respond(tab) {
        width: 15rem;
      }
    }
  }
}

//Styles for the header svg background
.svg-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
