//Styles for the top part of the page
.top {
  width: 100%;
  height: 62.5rem;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  position: relative;
}

//Styles for the whyus part of the page
.features {
  font-size: 4rem;
}

.svg-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.title {
  width: 100%;
  display: block;
  padding: 1rem 0;
}
