%df {
  display: flex;
}

%djc {
  justify-content: center;
}

%dje {
  justify-content: space-evenly;
}

%dai {
  align-items: center;
}

%das {
  align-self: stretch;
}

%dc {
  flex-direction: column;
}

%djb {
  justify-content: space-between;
}

%dja {
  justify-content: space-around;
}

%dfw {
  flex-wrap: wrap;
}
