//Place holders for flex properties
%df {
  display: flex;
}

%djc {
  justify-content: center;
}

%dje {
  justify-content: space-evenly;
}

%dai {
  align-items: center;
}

%das {
  align-self: stretch;
}

%dc {
  flex-direction: column;
}

%djb {
  justify-content: space-between;
}

%dja {
  justify-content: space-around;
}

%dfw {
  flex-wrap: wrap;
}

//Place holders for grid properties
%dg {
  display: grid;
}

%row-1-of-2 {
  grid-template-rows: repeat(2, 1fr);
}

%row-1-of-3 {
  grid-template-rows: repeat(3, 1fr);
}

%row-1-of-4 {
  grid-template-rows: repeat(4, 1fr);
}

%row-1-of-5 {
  grid-template-rows: repeat(5, 1fr);
}

%row-10-of-90 {
  grid-template-rows: 10% 90%;
}

%row-20-of-80 {
  grid-template-rows: 10% 90%;
}

%row-30-of-70 {
  grid-template-rows: 30% 70%;
}

%row-40-of-60 {
  grid-template-rows: 40% 60%;
}

%row-60-of-40 {
  grid-template-rows: 60% 40%;
}

%row-70-of-30 {
  grid-template-rows: 70% 30%;
}

%row-80-of-20 {
  grid-template-rows: 80% 20%;
}

%row-90-of-10 {
  grid-template-rows: 90% 10%;
}

%col-1-of-2 {
  grid-template-columns: repeat(2, 1fr);
}

%col-1-of-3 {
  grid-template-columns: repeat(3, 1fr);
}

%col-1-of-4 {
  grid-template-columns: repeat(4, 1fr);
}

%col-1-of-5 {
  grid-template-columns: repeat(5, 1fr);
}

%row-10-of-90 {
  grid-template-rows: 10% 90%;
}

%row-20-of-80 {
  grid-template-rows: 20% 80%;
}

%row-30-of-70 {
  grid-template-rows: 30% 70%;
}

%row-40-of-60 {
  grid-template-rows: 40% 60%;
}

%row-60-of-40 {
  grid-template-rows: 60% 40%;
}

%row-70-of-30 {
  grid-template-rows: 70% 30%;
}

%row-80-of-20 {
  grid-template-rows: 80% 20%;
}

%row-90-of-10 {
  grid-template-rows: 90% 10%;
}
