.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 2.5rem !important;
}
.u-margin-top-big {
  margin-top: 4rem !important;
}

.u-margin-left-small {
  margin-left: 1.5rem !important;
}
.u-margin-left-medium {
  margin-left: 1.5rem !important;
}
.u-margin-left-big {
  margin-left: 1.5rem !important;
}

.u-margin-right-small {
  margin-right: 1.5rem !important;
}
.u-margin-right-medium {
  margin-right: 1.5rem !important;
}
.u-margin-right-big {
  margin-right: 1.5rem !important;
}

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important;
}
.u-padding-bottom-medium {
  padding-bottom: 2.5rem !important;
}
.u-padding-bottom-big {
  padding-bottom: 4rem !important;
}

.u-padding-top-small {
  padding-top: 1.5rem !important;
}
.u-padding-top-medium {
  padding-top: 2.5rem !important;
}
.u-padding-top-big {
  padding-top: 4rem !important;
}

.u-padding-left-small {
  padding-left: 1.5rem !important;
}
.u-padding-left-medium {
  padding-left: 1.5rem !important;
}
.u-padding-left-big {
  padding-left: 1.5rem !important;
}

.u-padding-right-small {
  padding-right: 1.5rem !important;
}
.u-padding-right-medium {
  padding-right: 1.5rem !important;
}
.u-padding-right-big {
  padding-right: 1.5rem !important;
}

.u-margin-center {
  margin: 0 auto !important;
}

.u-display-none {
  display: none !important;
}

.u-position-relative {
  position: relative !important;
}
.u-position-fixed {
  position: fixed !important;
}
.u-position-absolute {
  position: absolute !important;
}
.u-position-sticky {
  position: sticky !important;
}

.u-flex-center {
  @include flexcenter;
}

.u-flex-even {
  @include flexeven;
}

.u-flex-around {
  @include flexaround;
}

.u-flex-between {
  @include flexbetween;
}

.u-flex-bottom {
  @include flexbottom;
}

.col-1-of-2 {
  @extend %dg;
  @extend %col-1-of-2;
}

.col-1-of-3 {
  @extend %dg;
  @extend %col-1-of-3;
}

.col-1-of-4 {
  @extend %dg;
  @extend %col-1-of-4;
}

.col-1-of-5 {
  @extend %dg;
  @extend %col-1-of-5;
}

.row-1-of-2 {
  @extend %dg;
  @extend %row-1-of-2;
}

.row-1-of-3 {
  @extend %dg;
  @extend %row-1-of-3;
}

.row-1-of-4 {
  @extend %dg;
  @extend %row-1-of-4;
}

.row-1-of-5 {
  @extend %dg;
  @extend %row-1-of-5;
}

.row-20-of-80 {
  @extend %dg;
  @extend %row-20-of-80;
}

.row-30-of-70 {
  @extend %dg;
  @extend %row-30-of-70;
}
