//Colors
$primary-color: #ff9a00;
$secondary-color: #ff5700;
$accent-color: #3c435a;

$success-color: #009218;
$danger-color: #ff3d51;
$alternate-color: #5aabe9;
$basis-color: #f0b41e;

$color-grey-light: #a1a1a1;
$color-grey: #666;
$color-grey-dark: #333;

$color-white: #fff;
$color-dark: #121212;

$color-light-black: #e5e5e5;

//! Social Colors
$facebook-color: #3b5998;
$whatsapp-color: #25d366;
$instagram-color: #e1306c;
$twitter-color: #1da1f2;
$google-color: #db4437;

//Transition
$transition-fastest: all 0.25s cubic-bezier(0.21, 0.45, 0.83, 0.67);
$transition-faster: all 0.5s cubic-bezier(0.21, 0.45, 0.83, 0.67);
$transition-fast: all 0.75s cubic-bezier(0.21, 0.45, 0.83, 0.67);
$transition-slow: all 1s cubic-bezier(0.21, 0.45, 0.83, 0.67);

//Font Size
$small-size: 1.8rem;
$default-size: 2.2rem;
$medium-size: 3.5rem;
$big-size: 5rem;

//Box shadows
%neu-shadow {
  background: #e5e5e5;
  box-shadow: 20px 20px 60px #c3c3c3, -20px -20px 60px #ffffff;
}

%neu-shadow-linear {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

$box-shadow-soft: 0 1px 2px rgba(#a1a1a1, 0.07), 0 2px 4px rgba(#a1a1a1, 0.07),
  0 4px 8px rgba(#a1a1a1, 0.07), 0 8px 16px rgba(#a1a1a1, 0.07),
  0 16px 32px rgba(#a1a1a1, 0.07), 0 32px 64px rgba(#a1a1a1, 0.07);

$box-shadow-short: 0 1px 1px rgba(#a1a1a1, 0.07), 0 2px 2px rgba(#a1a1a1, 0.07),
  0 4px 4px rgba(#a1a1a1, 0.07), 0 6px 8px rgba(#a1a1a1, 0.07),
  0 8px 16px rgba(#a1a1a1, 0.07);

$box-shadow-long: 0 2px 1px rgba(#a1a1a1, 0.07), 0 4px 2px rgba(#a1a1a1, 0.07),
  0 8px 4px rgba(#a1a1a1, 0.07), 0 16px 8px rgba(#a1a1a1, 0.07),
  0 32px 16px rgba(#a1a1a1, 0.07);

//Fonts
$prozaLibre-bold: 2rem/1 "ProzaLibre Bold", Fallback, sans-serif;
$prozaLibre-bold-italic: 2rem/1 "ProzaLibre Bold Italic", Fallback, sans-serif;
$prozaLibre-italic: 2rem/1 "ProzaLibre Italic", Fallback, sans-serif;
$prozaLibre-medium: 2rem/1 "ProzaLibre Medium", Fallback, sans-serif;
$prozaLibre-medium-italic: 2rem/1 "ProzaLibre Medium Italic", Fallback,
  sans-serif;
$prozaLibre-regular: 2rem/1 "ProzaLibre Regular", Fallback, sans-serif;
$prozaLibre-semibold: 2rem/1 "ProzaLibre Semi Bold", Fallback, sans-serif;

$nunito-bold: 2rem/1 "Nunito Bold", Fallback, sans-serif;
$nunito-bold-italic: 2rem/1 "Nunito Bold Italic", Fallback, sans-serif;
$nunito-extra-light: 2rem/1 "Nunito Extra Light", Fallback, sans-serif;
$nunito-italic: 2rem/1 "Nunito Italic", Fallback, sans-serif;
$nunito-light: 2rem/1 "Nunito Light", Fallback, sans-serif;
$nunito-light-italic: 2rem/1 "Nunito Light Italic", Fallback, sans-serif;
$nunito-regular: 2rem/1 "Nunito Regular", Fallback, sans-serif;
$nunito-semibold: 2rem/1 "Nunito Semi Bold", Fallback, sans-serif;
